<%- include('partials/header', { title: `Search Cars`}) %>
    <form action="/catalog/cars/search" method="post">
        <label for="vin" >
            <h2>Search database for car: </h2>
            <input type="text" name="vin" id="vin" required maxlength="20" placeholder="(enter VIN)">
        </label>
        <button type="submit">Search</button>
    </form>
<%- include('partials/footer') %>